<div class="header">
  <h1>Editing <%= @meal.name %>
  <span class="cta push-right"><%= link_to "Back to this meal", meal_path(@meal.record_id) %></span>
  </h1>
</div>

<%= form_tag("/meals/#{@meal.record_id}", method: :put, class: "ink-form") do %>
  <div class="control-group">
      <%= label_tag(:name, "Meal name") %>
    <div class="control">
      <%= text_field(:meal, :name) %>
    </div>

    <%= label_tag(:description, "Describe it") %>
    <div class="control">
      <%= text_area(:meal, :description) %>
    </div>

    <%= label_tag(:category, "Category") %>
    <div class="control">
      <%= text_field(:meal, :category) %>
    </div>

    <%= label_tag(:rating, "Rating") %>
    <div class="control">
      <%= number_field(:meal, :rating, in: 1...6) %>
    </div>

    <hr>

    <div class="control">
      <%= submit_tag("Update meal", class: "ink-button green") %>
    </div>
  </div>
<% end %>
