<div class="header">
  <h1><%= @meal.name %>
  <span class="cta push-right"><%= link_to "Back to all meals", meals_path %></span>
  </h1>
</div>

<div class="column-group">
  <div class="all-60">
    <p class="medium">Category</p>
    <p><%= @meal.category %></p>
    <p class="medium">Description</p>
    <p><%= @meal.description %></p>
    <p class="medium">Rating</p>
    <p><%= @meal.rating %></p>
  </div>
  <div class="all-40">
    <div class="button-group">
      <p><%= link_to "Edit meal", edit_meal_path(@meal.record_id), class: "ink-button green" %></p>
      <hr>
      <%= button_to "Delete #{@meal.name}", meal_path(@meal.record_id), method: :delete, data: { confirm: 'Are you sure?' }, class: "ink-button green" %>
    </div>
  </div>
</div>
